{% extends "base.html" %}

{% block title %}Buchtitel{% endblock %}

{% block content %}

<h1>Bücherliste</h1>

<ul id="menu">
<li><a href="/buecher/titel_liste/content_list/">Buchbeschreibung nach Titel</a></li>
</ul>

    <ul id="menu">
    <li><a href="/buecher/titel_liste/renew/">Ein neues Buch hinzufügen</a></li>
    </ul>

    <ul id="menu">
    <li><a href="/buecher/titel_liste/delete_list/">Ein Buch löschen</a></li>
    </ul>


<ul id="menu">
<li><a href="/buecher/">zurück zur Startseite</a></li>
</ul>


{% for titel_liste in titel_liste %}
<div>
<h2>{{ titel_liste.title|escape|urlize }}</h2> 
<p>{{ titel_liste.author|escape|urlize }}</p>
<p>{{ titel_liste.pub_date|escape|urlize }}</p>

<li><a href="{{ titel_liste.id }}/">{{ titel_liste.title|escape }}</a></li>

</div>
{% endfor %}

{% endblock %}
